<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <nav class="navbar">
      <div class="max-width">
        <div class="log"></div>
        <div class="logo"><a href="/">Tech<span>Fanatics</span></a></div>
        <div class="menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
    <div class="center">
      <div class="container" style="top:60%;">
        <div class="text">Edit</div>
        <form action="/edit/<%= data._id %>" method="post">
          <!-- Log the data to the console for debugging -->
          <%= console.log(data) %>
          <div class="data">
            <label>Name</label>
            <input type="text" id="name" name="username" required value="<%= data.username %>">
            <div id="name-error" class="error-message"></div>
          </div>
          <div class="data">
            <label>Mail id</label>
            <input type="email" id="email" name="email" required value="<%= data.email %>">
            <div id="email-error" class="error-message"></div>
          </div>
          <div class="data">
            <label>Password</label>
            <input type="password" id="password" name="password" required value="<%= data.password %>">
            <div id="password-error" class="error-message"></div>
          </div>
          <br>
          <div class="btn">
            <div class="inner"></div>
            <button type="submit">Update</button>
          </div>
          
        </form>
      </div>
    </div>
  </body>
</html>
